<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Minha Calculadora
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form (ngSubmit)="vaiFormulario()">
    <ion-item>
    <ion-label position="floating">Insira um número:</ion-label>
    <ion-input type="number" name="numero1" [(ngModel)]="numero1"></ion-input>
    </ion-item>

    <ion-item>
    <ion-label position="floating">Insira outro número</ion-label>
    <ion-input type="number" name="numero2" [(ngModel)]="numero2"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Operações</ion-label>
      <ion-select placeholder="Selecione" [(ngModel)]="operacao" name="operacao">
        <ion-select-option value="add">Adição</ion-select-option>
        <ion-select-option value="sub">Subtração</ion-select-option>
        <ion-select-option value="mul">Multiplicação</ion-select-option>
        <ion-select-option value="div">Divisão</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button 
    expand="full" 
    size="small"
    color="danger"
    type="submit"
    >Vai Formulário</ion-button>
  </form>
</ion-content>
